{% extends "layouts/base.html" %}
{% import "layouts/macros.html" as macros %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" href={{url_for('static', filename='css/prism.css')}}>
{%- endblock %}

{% block navbar %}
    <!-- Submission text modal -->
    <div id="submission-text-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="submission-text-modal-label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 id="submission-text-modal-label" class="modal-title">Submission Result</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%- block main %}
    <div class="well">
        {{ macros.show_flash() }}
        <div class="btn-group btn-group-justified">
            <!-- Wrap each button in a btn-group to get the css to apply properly -->
            <div class="btn-group">
                <button id="description-btn" type="button" class="btn btn-info">Description</button>
            </div>
            <div class="btn-group">
                <button id="scoreboard-btn" type="button" class="btn btn-info">Scoreboard</button>
            </div>
            <div class="btn-group">
                <button id="submissions-btn" type="button" class="btn btn-info">Your Submissions</button>
            </div>
            <div class="btn-group">
                <button id="submit-btn" type="button" class="btn btn-info">Submit Solution</button>
            </div>
        </div>
        <div class="well">
            <select id="problem-select" class="form-control">
                {% for problem in problems -%}
                <option value="{{ problem.id }}" 
                {%- if request.args.get('id')|int == problem.id|int %} selected="selected"{%- endif -%}
                >{{ problem.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="display-area"></div>
    </div>
{% endblock -%}

{% block scripts %}
    {{super()}}
    <script src={{url_for('static', filename='js/app.js')}}></script>
    <script src={{url_for('static', filename='js/prism.js')}}></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML"></script>
{% endblock %}