{% extends "layouts/base.html" %}
{% import "layouts/wtf.html" as wtf %}
{% import "layouts/macros.html" as macros %}

{%- block main %}
    {{ macros.show_flash() }}
    <div class="well">
        <h3>Profile settings</h3>
        {{ wtf.quick_form(profile_form, button_map={'submit_button': 'primary'}) }}
    </div>
    <div class="well">
        <h3>Change password</h3>
        {{ wtf.quick_form(password_form, button_map={'submit_button': 'primary'}) }}
    </div>
{% endblock -%}
