{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}Open Systems Programming Contest{% endblock %}

{% block head %}
    <meta charset="utf-8">
    {{super()}}
    {{fixes.ie8()}}
    <!-- Disable IE compatability mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
{%- endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href={{url_for('static', filename='css/material-wfont.min.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='css/ripples.min.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='css/base.css')}}>
{%- endblock %}

{% block content -%}
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                {% if current_user.is_authenticated() -%}
                    {% if current_user.is_admin -%}
                        <li title="Admin interface"><a href={{'/admin'}}>Admin Interface</a></li>
                    {%- endif %}
                <li title="View problems"><a href={{url_for('user.problems')}}>View problems</a></li>
                <li class="active" title="Edit profile"><a href={{url_for('user.profile')}}><span class="glyphicon glyphicon-user"></span> {{ current_user.name }}</a></li>
                <li title="Log out"><a href={{url_for('public.logout')}}><span class="glyphicon glyphicon-log-out"></span></a></li>
                {%- else -%}
                <li><a href={{url_for('public.signup')}}>Sign up</a></li>
                <li class="active"><a href={{url_for('public.login')}}>Log in</a></li>
                {%- endif %}
            </ul>
                <h3>
                {%- if current_user.is_authenticated() -%}
                <a href={{url_for('user.problems')}} class="text-muted">
                {%- else -%}
                <a href={{url_for('public.index')}} class="text-muted">
                {%- endif -%}
                OSPC</a></h3>
        </div>
        {% block main -%}{%- endblock %}
    </div>
{%- endblock %}


{% block scripts %}
    {{super()}}
    <script src={{url_for('static', filename='js/ripples.min.js')}}></script>
    <script src={{url_for('static', filename='js/material.min.js')}}></script>
{% endblock %}
