{% macro show_flash() -%}
    {% with messages = get_flashed_messages(with_categories=true) -%}
        {% if messages -%}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        {%- endif %}
    {%- endwith %}
{%- endmacro %}

{% macro create_table(headers, rows, table_class='') -%}
<table class="{{ table_class }}">
    <thead>
        {% for h in headers %}
        <th>{{ h | title }}</th>
        {% endfor %}
    </thead>
    <tbody class="list">
        {% for row in rows %}
        <tr>
            {% for cell in row -%}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {%- endfor %}
    </tbody>
</table>
{%- endmacro %}
