{% extends "layouts/base.html" %}
{% import "layouts/wtf.html" as wtf %}
{% import "layouts/macros.html" as macros %}

{%- block main %}
    <div class="well">
    {{ macros.show_flash() }}
    
    <div class="page-header">
        <h1>Reset your password</h1>
    </div>
    {% if submitted -%}
    <h4>If there is an account with this address, your email is on its way!</h4>
    <p>For security reasons, the reset email is only active for the next 24 hours. If the email doesn't arrive in the next 10 minutes, try <a href={{url_for('public.forgot_password')}}>sending it again</a>. If you still don't see it, please contact us.</p>
    {%- else -%}
    <p>Please provide the username or email address that you used when you signed up for your account.</p>
    <p>We will send you an email that will allow you to reset your password.</p>
    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
    {%- endif %}
    </div>
{% endblock -%}
