{% extends "layouts/base.html" %}
{% import "layouts/wtf.html" as wtf %}
{% import "layouts/macros.html" as macros %}

{%- block main %}
    <div class="well">
    {{ macros.show_flash() }}
    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
    {% if not config.get('MAIL_SUPPRESS_SEND') -%}
    <a href={{url_for('public.forgot_password')}}>Forgot password?</a>
    {%- endif %}
    </div>
{% endblock -%}
