{% import "layouts/macros.html" as macros %}

{% if submissions.count() > 0 -%}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Problem</th>
            <th>Result</th>
            <th>Score</th>
            <th>Language</th>
            <th>Time Submitted</th>
        </tr>
    </thead>
    <tbody class="list">
        {% for sub in submissions -%}
        <tr data-submission-id={{sub.id}}>
            <td >{{ sub.problem.name }}</td>
            <td >{{ sub.result }}</td>
            <td >{{ sub.result_score }}</td>
            <td >{{ sub.language.name }}</td>
            <td >{{ sub.timestamp }}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
<small class="text-muted">Click a row for more info</small>
{%- else -%}
<h3 class="text-center">You haven't submitted any solutions for this problem yet.</h3>
{%- endif %}