{% extends 'admin/master.html' %}
{% block body %}
    {{ super() }}
    <div class="row-fluid">
        <h1>OSPC Admin interface</h1>
        <p class="lead">
        Contest Statistics
        </p>
        <dl>
            <dt>Registered Users</dt><dd>{{ num_users }}</dd>
            <dt>Submissions</dt><dd>{{ count_submissions_all }}</dd>
            <dt>Passing Submissions</dt><dd>{{ count_submissions_pass }}</dd>
            <dt>Average Score (all submissions)</dt><dd>{{ '%0.2f' | format(avg_all|float) }}</dd>
            <dt>Average Score (passing submissions)</dt><dd>{{ '%0.2f' | format(avg_pass|float) }}</dd>
        </dl>
        <a class="btn btn-primary" href="/problems"><span class="icon-arrow-left icon-white"></span> Back to problems</a>
    </div>
{% endblock body %}