{% extends 'admin/master.html' %}
{% block body %}
    {{ super() }}
    <div class="row-fluid">
        <h1>User email list</h1>
        <div id="mail-list">
            {% for email in emails -%}
            {{ email }}; 
            {% endfor %}
        </div>
    </div>
{% endblock body %}